<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Match Found - Elon Musk</title>
</head>
<body class="crime-theme">
    <div class="container">
        <h1 style="color: green;">Match Found for the image provided</h1>
        <div class="details">
            <img src="/content/uploads/source.jpg" alt="Elon Musk">
        </div>
    </div>
</body>
</html>
